
div, article, section, header, footer, nav, li {
    position:relative;
}
.group:after {
    display:block;
    height:0;
    clear:both;
    content:".";
    visibility:hidden; /* For clearing */
}

body {
    font-family: 'Roboto', sans-serif;

}
::-moz-selection {
    background:#f0bf00;
    color:#333;
}
::selection {
    background:#f0bf00;
    color:#333;
}
/*

14 / 16	= 		0.875em 		(14px equivalent)
16 / 16	= 		1em 			(16px equivalent)
18 / 16 = 		1.125em 		(18px equivalent)
21 / 16 = 		1.3125em 		(21px equivalent)
24 / 16 = 		1.5em 			(24px equivalent)
30 / 16 = 		1.875em 		(30px equivalent)

*/
p {
    line-height: 1.5; /* 24px */
}

ul, ol {
    line-height: 1.5; /* 24px */
    margin: 0 0 1.875em 0;
}
body, input, textarea {
}
a:link, a:visited {
    color: #F1505A;
}
a:hover, a:active {
    color: #F1505A;
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'Bitter', serif;
}
h1 {
    font-size: 1.5em; /* 24px */
    line-height: 1.5; /* 24px */
    margin-top: 1.42em;
    margin-bottom: 0em;
}
h2 {
    font-size: 1.3125em; /* 21px */
    line-height: 1.1429; /* 24px */
    margin-top: 1.1429em;
    margin-bottom: 0em;
}
h3 {
    font-size: 1.125em; /* 18px */
    line-height: 1.3333; /* 24px */
    margin-top: 1.3333em;
    margin-bottom: 0em;
}
h4 {
    font-size: 1em; /* 16px */
    line-height: 1.5; /* 24px */
    margin-top: 1.5em;
    margin-bottom: 0em;
}
h5 {
    font-size: 0.875em; /* 14px */
    line-height: 1.7143; /* 24px */
    margin-top: 1.7143em;
    margin-bottom: 0em;
}
strong {
    font-weight:normal;
    font-family: 'Bitter', serif;
}
small {
    font-size: 0.75em; /* 12px */
    line-height: 2; /* 24px */
    margin-top: 2em;
    margin-bottom: 0em;
}
em {
    font-style: normal;
    font-family: 'Open Sans';
}
.muted {
    color: #A5A5A2;
    font-family: 'Quattrocento', serif;
}
.impressed {
    text-shadow:
            -1px -1px 0 rgba(0, 0, 0, 0.5), /* shadow */  1px 1px 0 rgba(255, 255, 255, 0.9); /* highlight */
}
.more-link {
    font-size: .875em; /* 14px */
    margin-top: 1.5em;
    font-family: 'Bitter', serif;
}
.more-link:link, .more-link:visited {
    color: #f0bf00;
    text-transform: uppercase;
}
/* ----------------------------------------------------------------------------------------------------------
03 Non-semantic ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
/* New Image Replacement Hack */

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1em;
}
.alignright {
    text-align: right;
}
.alignleft {
    text-align: left;
}
.aligncenter {
    text-align: center;
}
.medium {
    font-weight: normal;
    font-family: 'Bitter', serif;
}

/*form submit*/
/*input[type=text], input[type=submit], textarea {*/
    /*width: 100%;*/
    /*padding: 0.5em;*/
    /*font-size: 1em;*/
    /*margin-bottom: 1.5em;*/
    /*box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
/*}*/
/*input, button, select, textarea {*/
    /*font-family: 'Quattrocento', serif;*/
/*}*/
#headerwrap {
    width: 100%;
    background: url('../images/banner.png') #54A892 no-repeat center center fixed;
    mask-image: inherit;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
    margin-top: -50px;
    padding-top:160px;
    text-align:center;
}

#headerwrap h2 {
    text-transform:uppercase;
    color: #FFFFFF;
    font-size: 2em;
    font-weight: normal;
    margin: 0.3em 0;
    text-shadow: 1px 1px 1px #333333;
}
#headerwrap h3 {
    color: #F0BF00;
    font-weight: normal;
    margin: 0.1em 0;
    text-shadow: 1px 1px 1px #333333;
}
#headerwrap h1 span {
    color:#f0bf00;
}
#headerwrap input[type=text] {
    background: rgba(227, 231, 228, 1);
    font-family: 'Roboto',sans-serif;
    font-size: 1.3125em;
    border: 0;
    text-align: center;
    vertical-align: middle;
    margin-bottom:0 !important;
}
#headerwrap input[type=text]:focus {
    background: #fff;
    transition: background 0.25 ease-in;
    -moz-transition: background 0.25 ease-in;
    -webkit-transition: background 0.25 ease-in;
}
#headerwrap input[type=text] {
    margin-top: -2.5px;
    height: 2.7em;
    width:50%;
}
#headerwrap input[type=submit] {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    width: 100px;
    height: 2.7em;
    font-size: 1.3125em; /* 21px */
    padding:0.5em;
    letter-spacing: 0.05em;
    margin: 0!important;
    border: 0;
    text-transform: none;
    background: #10A296 !important;
}
#headerwrap input[type=submit]:hover, #headerwrap input[type=submit]:active {
    background: #25cab3 !important;
}
.navbar-nav > li > a, .navbar-brand {
    padding-top:2px !important;
    padding-bottom:0 !important;
    height: 28px;
}
.navbar {min-height:28px !important;}

.navbar-fixed-top .container {
    /* Uncomment to make nav expand full width */
    	/*width: auto; */

}
.navbar-brand {
    padding: 0 0 0 10px;
    
}
.navbar-brand a {
    padding:0;
    color: #fff;
    margin-left: 0;
    font-weight: normal;
}
.navbar-brand a:hover {
    text-decoration: none;
    color:#f0bf00;
    transition: color .15s linear;
    -webkit-transition: color .15s linear;
    -moz-transition: color .15s linear;
}
.navbar-brand a:focus {
    outline: none;
}
.navbar-inner {
    min-height: 3.75em;
}
.navbar-inverse{
    background-color: #54A892;
    border-color: #54A892;
}
.navbar-wrapper {
    overflow:hidden;/* No fixed height, will break collapsible nav */
}

.navbar-collapse ul > li > a {
    font-weight: normal;
    font-size: 0,875em;
    padding-top: 20px!important;
    margin-top: 0.5em;
    margin-bottom: 0px!important;
    color: #fff !important;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    text-shadow: none;
}

.title-section {
    padding: 0 0 1em 0;
    border-bottom: 1px solid #DDDDDD;

}

.title-section h2 {
    text-transform: uppercase;
    padding: 8px 5px 0px 0px;
}
.news ul > li, .announcement ul>li {
    list-style: none;
    border-bottom: 1px solid #DDDDDD;
}

.announcement ul > li > p, .news ul > li > p {
    margin-top: 10px !important;
    text-align: justify;
}
.announcement .page , .news .page{
    display: block;
    margin-bottom: 10px;
   text-align: right;

}

.login .panel{
    margin-top: 10px;
}
.login .icon {
    background-color:#54A892 ;
}
.login .glyphicon-user, .login .glyphicon-lock{
    padding:3px ;
    color: rgba(244, 244, 244, 1);
}
.login-button{
    float: right;
    background-color:#54A892 ;
    color: #fff;
    text-transform: uppercase;
}
.login-button:hover{
    float: right;
    background-color:#10A296 ;
    color: #fff;

}
.side-bar .title-section,.total .title-section, .link-list .title-section {
    margin-bottom: 10px;
}
.side-bar .list-group-item ,.total .title-section, .link-list .list-group-item {
    border-radius: 0px !important;
}
.total p {
    text-align: center;
    vertical-align: middle;
    font-size:4em;
    margin-bottom: 0!important;
    padding: 0!important;
    color:#F1505A ;
}

/*.content-detail {*/
    /*background-color: #fff;*/
    /*padding:10px;*/
    /*text-align: justify;*/

/*}*/
.content-detail h3 {
   font-family: "Bitter", sans-serif;

}
.content-detail p {
    text-align: justify;
}

.content-detail img {
    display: block;
    margin-left:100px;
    padding: 10px;

}
.footer {
    background-color:#54A892;
    padding: 7px;
}
.footer p {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
}
.footer p a{
    color: #fff;
}

